<h1>Listing Restaurants</h1>



<% if owner_signed_in? %>
  <%= link_to 'New restaurant', new_restaurant_path %>
  <%= link_to current_owner.email, edit_owner_registration_path %>
  <%= link_to 'Log Out', destroy_owner_session_path, method: :delete %>
<% else%>
  <%= link_to 'Sign Up', new_owner_registration_path %>
  <%= link_to 'Log In', new_owner_session_path %>
<% end %>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Phone Number</th>
    <th>Description</th>
    <th colspan="3"></th>
  </tr>

  <% @restaurants.each do |restaurant| %>
    <tr>
      <td><%= restaurant.name %></td>
      <td><%= restaurant.address %></td>
      <td><%= restaurant.phone %></td>
      <td><%= restaurant.description %></td>
      <td><%= link_to 'Show', restaurant_path(restaurant) %></td>
      <% if restaurant.owner == current_owner%>
        <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
        <td><%= link_to 'Destroy', restaurant_path(restaurant),
                method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
  <% end %>
</table>
